/**
  * Colors
  * 
  */
/**
  * Typography
  * 
  */
/**
  * .body
  * 
  */
/**
  * Other bases
  * 
  */
/**
  * Loading spinner
  * 
  */
/**
  * Search form
  * 
  */
/**
  * Banner call to action
  * 
  */
/**
  * Banner
  * 
  */
* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  background-color: #FFF;
  color: #000;
}

.wrapper a {
  text-decoration: none;
  color: currentColor;
  transition: 0.5s ease;
}

.wrapper a:hover {
  color: #9356DC;
}

.wrapper img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

h1.h1-home {
  font-size: 1.75em;
  line-height: 1.2;
  text-align: center;
}
@media (min-width: 768px) {
  h1.h1-home {
    font-size: 1.65em;
  }
}
@media (min-width: 1600px) {
  h1.h1-home {
    font-size: 2.05em;
  }
}

p.p-banner {
  font-size: 1.2em;
  line-height: 1.15;
  text-align: center;
}

a.banner-cta {
  font-size: 1.1em;
  font-weight: 500;
  color: #FFF;
  cursor: pointer;
}
a.banner-cta:hover {
  transform: scale(1.03);
  color: #FFF;
}
@media (min-width: 1600px) {
  a.banner-cta {
    font-size: 1.25em;
  }
}

.load {
  font-size: 0.875em;
  color: #FFF;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.banner div:first-child {
  width: inherit;
  padding: 1rem 0;
  text-align: center;
  background-color: #e0e0e0;
}
.banner div:last-child {
  width: inherit;
  background-color: #f7f7f7;
}
.banner div:last-child div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  margin: 0 auto;
  height: 350px;
  padding: 2rem 3rem;
}
@media (min-width: 768px) {
  .banner div:last-child div {
    max-width: 500px;
  }
}
@media (min-width: 1024px) {
  .banner div:last-child div {
    max-width: 700px;
  }
}
@media (min-width: 1024px) {
  .banner div:last-child div {
    height: 450px;
  }
}
.banner div:last-child div h1,
.banner div:last-child div p {
  margin-bottom: 1.15rem;
}
@media (min-width: 768px) {
  .banner div:last-child div h1 {
    max-width: 300px;
    margin-top: 2rem;
  }
}
@media (min-width: 1024px) {
  .banner div:last-child div h1 {
    max-width: inherit;
  }
}
.banner div:last-child div a {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1.25rem 1.5rem;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 4px 12px;
  background: linear-gradient(#FF79DA, #9356DC);
}
.banner div:last-child div a:hover {
  background: linear-gradient(#9356DC, #FF79DA);
}
@media (min-width: 768px) {
  .banner div:last-child div a {
    margin-bottom: 2rem;
  }
}
@media (min-width: 1600px) {
  .banner div:last-child div a {
    margin-top: 2rem;
    padding: 1.55rem 1.85rem;
  }
}

.header-site {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
@media (min-width: 1400px) {
  .header-site {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 1600px) {
  .header-site {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}
.header-site a {
  display: inline-block;
}

.wrapper {
  width: 100%;
  position: relative;
}

.search-form i {
  font-size: 1.2em;
  padding: 0 0.5rem;
  color: #4d4d4d;
}
.search-form input {
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  border: hidden;
  background-color: transparent;
}
.search-form input[value] {
  color: #4d4d4d;
  font-weight: 500;
}
.search-form input:focus {
  outline: none;
}
.search-form button {
  display: none;
}

/*# sourceMappingURL=style.css.map */
