.cards {
  background-color: $bg-color-cards;

  > div {
    > div {
      @include flexbox(column, center, center, wrap);
      gap: 1.5rem;

      @media (min-width: 768px) {
        flex-direction: row;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }

      @media (min-width: 1400px) {
        gap: 2rem;
      }
    }
  }
}