.header-site {
  position: absolute;
  width: 100%;
  @include box_shadow($amount:70%, $size: 0 2px 6px);
  background-color: $background-color-header;

  > div {
    @include flexbox(null,center,center,null);
    position: relative;
    @include max_width(82%, 1400px);
    height: 4rem;
    padding: 2rem 0;

    @media (min-width: $breakpoint-xxl ) {
      padding-top: 2.25rem;
      padding-bottom: 2.25rem;
    }
  
    @media (min-width: $breakpoint-xxxl ) {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    }

    a {
      display: inline-block;
    }
  }

  &--single-page-page {
    a {
      order: 1;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%);
    }

    picture {
      order: 2;
    }
  }


}