.menu-maker {
  background-color: $bg-color-menu-maker;

  @media (min-width: 768px) {
    @include max-width(90%, 1400px);
  }

  > div {
    background-color: $bg-color-menu-maker-first-div;

    .products {
      @include max-width(90%, 1000px);
      padding-top: 2rem;
      padding-bottom: 2rem;

      h2 {
        &::after {
          display: block;
          content: "";
          width: 2.75rem;
          border: 2px solid $tertiary-color;
        }
      }

      > div {
        @include flexbox(null, center, center, wrap);
        gap: 1.25rem;

        @media (min-width: 991px) {
          gap: 1.5rem;
          @include max-width(100%, 845px);
        }

        a {
          width: 100%;

          @media (min-width: 768px) {
            width: 62%;
          }

          @media (min-width: 991px) {
            width: 48%;
          }

          &:hover,
          &:active {   
        
           .product-proposal__right {
              transform: translate(0);
        
              & > i {
                animation: rotate_keyframes 500ms 800ms;
                @include rotate_keyframes;
              }
            }        
        
            .product-proposal__left {
        
              div {
                .product-detail {
                  animation: three_points 400ms 800ms forwards;

                  @keyframes three_points {
                    to {
                      max-width: $max-width-product-detail;
                      @include text_overflow($value: ellipsis($max-width-product-detail));
                    }
                  }
                }

                .product-price {
                  animation: moving_price 400ms 800ms forwards;
          
                  @keyframes moving_price {
                    0% {
                      padding-right: 0;
                      transform: translateX(0);
                    }
                    100% {
                      padding-right: .85rem;
                      transform: translateX(-43px);
                    }
                  }
                }
              }
            }
          }
        }
      }  
    }
  }
}