.loading {
  @include flexbox(null,center,center,null);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $bg-color-loading;
  opacity: .8;
  animation: bg_visibility .7s 2s forwards;
  visibility: visible;

  @keyframes bg_visibility {
    to {
      opacity: 0;
      visibility: hidden;
    }
  }

  span {
    display: inline-block;
    position: fixed;
  }

  > div {
    @include flexbox(null,center,center,null);
    width: 5rem;
    height: 5rem;

    &::after {
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      border-width: 5px;
      border-style: solid;
      border-top-color: $loading-border-top-color;
      border-left-color: $loading-border-left-color;
      border-right-color: $loading-border-right-color;
      border-bottom-color: $loading-border-bottom-color;
      border-radius: 50%;
      padding: 1rem;
      animation: loading .7s infinite linear;
  
      @keyframes loading {
        0% {
          transform: rotate(0turn);
        }
        100% {
          transform: rotate(1turn);
        }
      }
    }
  }


}