/* --------------------------------------------------
   SETTING FOR .LOADING-SPINNER | COMPONENTS | HOMEPAGE
   -------------------------------------------------- */

.loading-spinner {
  @include flexbox(null,center,center,null);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $bg-color-loading;
  animation: bg_visibility .7s 2s forwards;

  > div {
    @include flexbox(null,center,center,null);
    position: relative;
    width: 12rem;
    height: 12rem;

    &:before {
      width: 80%;
      height: 80%;
      animation-name: rotate_1turn;
    }

    &:after {
      width: 100%;
      height: 100%;
      animation-name: rotate_1turn_reverse;
    }

    &:before,
    &::after {
      position: absolute;
      display: block;
      content: "";
      border-width: 3px;
      border-style: solid;
      border-top-color: $loading-border-top-color;
      border-left-color: $loading-border-left-color;
      border-right-color: $loading-border-right-color;
      border-bottom-color: $loading-border-bottom-color;
      border-radius: 50%;
      padding: 1rem;
      animation-duration: .7s;
      animation-timing-function: linear;
      animation-iteration-count: 4;
    }

    span { /* Loading text */
      display: inline-block;
      position: fixed;
      font-weight: 400;
      text-align: center;
      max-width: 7rem;
      opacity: 1;
    }
  }
}