.product-proposal {
  @include flexbox(null, space-between, center, null);
  border-radius: 15px;
  height: 5rem;
  @include box-shadow;
  position: relative;
  overflow: hidden;
  background-color: $bg-color-product-proposal;

  @media (min-width: 1024px) {
    height: 5.5rem;
  }

  @media (min-width: 1400px) {
    height: 6rem;
  }

  @media (min-width: 1400px) {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  &:hover {   

    & > .product-proposal__right {
      animation: selected_product 1s forwards; 

      @keyframes selected_product {
        0% {
          visibility: hidden;
          transform: translateX(8888px);
        }
        100% {
          visibility: visible;
          transform: translateX(0);
        }
      }

      & > i {
        animation: rotate_keyframes .5s 1s;
        @include rotate_keyframes;
      }
    }


    & > .product-proposal__left {

      div {
        .product-price {
          animation: moving_price .5s 1s forwards;
  
          @keyframes moving_price {
            0% {
              padding-right: 0;
              transform: translateX(0);
            }
            100% {
              padding-right: .85rem;
              transform: translateX(-43px);
            }
          }
        }
      }
    }
  }

  &__left {
    width: 100%;
    padding-top: 1.15rem;
    padding-bottom: 1.15rem;
    padding-left: 1rem;

    div {
      @include flexbox(null, space-between, null, null);
      position: relative;

      .product-detail {
        padding-top: .5rem;
      }

      .product-price {
        position: absolute;
        right: 32px;
        bottom: 0;
        display: inline-block;
        background-color: white;
      }
    }
  }
  
  &__right {
    @include flexbox(null, center, center, null);
    width: 17%;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    right: 0;
    background-color: $bg-color-product-proposal-right;
    transform: translateX(8888px);

    input {
      width: 1.5rem;
      height: 1.5rem;
      appearance: none;
      border: 1px solid white;
      border-radius: 50%;
      color: white;
      background-color: white;    
    }

    i {
      position: absolute;
      color: $tertiary-color;
    }
  }
  
}