.product-checkbox {
  @include flexbox(null, space-between, center, null);
  border-radius: 15px;
  height: 5rem;
  @include box-shadow;
  position: relative;
  background-color: $bg-color-product-checkbox;

  @media (min-width: 1024px) {
    height: 5.5rem;
  }

  @media (min-width: 1400px) {
    height: 6rem;
  }

  @media (min-width: 1400px) {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  &__left {
    width: 100%;
    padding-top: 1.15rem;
    padding-bottom: 1.15rem;
    padding-left: 1rem;

    p {
      @include flexbox(null, space-between, null, null);
      padding-top: .5rem;

      span {
        position: absolute;
        right: 25px;
      }
    }
  }
  
  &__right {
    @include flexbox(null, center, center, null);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    right: 0;
    background-color: $bg-color-product-checkbox-right;
    transform: translateX(-8888px);

    input {
      width: 1.5rem;
      height: 1.5rem;
      appearance: none;
      border: 1px solid white;
      border-radius: 50%;
      color: white;
      background-color: white;    
    }

    i {
      position: absolute;
      color: $tertiary-color;
    }
  }
  
}