.search-form {
  i {
    font-size: $font-size-search-form-i;
    padding: 0 .5rem;
  }

  input {
    font-family: $font-family-input;
    font-size: $font-size-search-form-input;
    border: hidden;
    background-color: $bg-color-input;

    &[value] {
      font-weight: $font-weight-input-value;
    }

    &:focus {
      outline: none;
    }
  }

  i,
  input[value] {
    @include color_matched_to_bg_color(matching_color($bg-color-first-child, $darken_percent: 60%));
  }

  button {
    display: none;
  }
}