.step {
  @include flexbox($justify:null, $align:null, $wrap:wrap);
  // display: flex;
  // flex-wrap: wrap;
  gap: 1.75rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: .875rem;

  @media (min-width: 768px) {
    justify-content: center;
  }

  @media (min-width: 1400px) {
    justify-content: space-around;
  }

  div {
    @include flexbox($justify:null);
    // display: flex;
    // align-items: center;
    position: relative;
    width: 370px;
    padding-top: 1.85rem;
    padding-bottom: 1.85rem;
    padding-left: 2.25rem;
    border-radius: 25px;  
    @include box-shadow;
    background-color: $bg-color-step;
    order: 2;

    span {
      border-radius: 50%;
      padding: .35rem .6rem .15rem;
      background-color: $bg-color-nb-step;
      order: 1;
      position: absolute;
      left: -13px;
    }

    i {
      font-size: $font-size-i-step;
      color: $color-i-step;
      margin-right: 1.5rem;
      order: 2;
    }

    h3 {
      order: 3;
    }
  }
}