* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.body {
  font-family: $font-family-txt;
  font-size: $font-size-body;
  line-height: $line-height-body;
  font-weight: $font-weight-body;
  font-style: $font-style-body;
  background-color: $bg-color-body;
  color: $color-body;
}

.wrapper {
  h2 {
    padding-bottom: 1rem;

    @media (min-width: 768px) {
      margin-top: 1.5rem;
      margin-bottom: 1.25rem;  
    }

    @media (min-width: 1600px) {
      margin-top: 2.5rem;
      margin-bottom: 2.25rem;
    }
  }

  .how-it-works,
  .cards {
    > div {
      @include max-width(90%, 1400px);
    }
  }

  .how-it-works,
  .cards {
    padding: 3rem 0 4.25rem;
  }

  a {
    text-decoration: none;
    color: $color-a;
    transition: .5s ease;
  }
  
  a:hover {
    color: $color-a-alt;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
}
