h1,
h2,
h3 {
  color: $color-h1-h2-h3;
}

h1 {
  &.h1-page {
    font-size: $font-size-h1-page;
    line-height: $line-height-h1-page;
    font-weight: $font-weight-h1-page;
    text-align: center;

    @media (min-width: 768px) {
      font-size: $font-size-h1-page-md;
    }

    @media (min-width: 1400px) {
      font-size: $font-size-h1-page-xl;
    }

    @media (min-width: 1600px) {
      font-size: $font-size-h1-page-xxl;
    }

    &--single {
      font-family: $font-family-h1-single;
      font-size: $font-size-h1-single;
      font-weight: $font-weight-h1-single;

      @media (min-width: 768px) {
        font-size: $font-size-h1-single-md;
      }
  
      @media (min-width: 1400px) {
        font-size: $font-size-h1-single-xl;
      }
  
      @media (min-width: 1600px) {
        font-size: $font-size-h1-single-xxl;
      }
    }
  }
}

h2 {    
  &.h2-home {
    font-size: $font-size-h2-home;
    line-height: $line-height-h2-home;

    @media (min-width: 768px) {
      font-size: $font-size-h2-home-md;
    }

    @media (min-width: 1400px) {
      font-size: $font-size-h2-home-xl;
    }

    @media (min-width: 1600px) {
      font-size: $font-size-h2-home-xxl;
    }
  }

  &.h2-single {
    font-size: $font-size-h2-single;
    font-weight: $font-weight-h2-single;
    text-transform: $txt-transform-h2-single;
    line-height: $line-height-h2-single;
    color: $color-h2-single;

    @media (min-width: 768px) {
      font-size: $font-size-h2-single-md;
    }

    @media (min-width: 1400px) {
      font-size: $font-size-h2-single-xl;
    }

    @media (min-width: 1600px) {
      font-size: $font-size-h2-single-xxl;
    }
  }
}

h3 {
  &.h3-step {
    font-weight: $font-weight-h3-step;
  }

  &.h3-card {
    font-size: $font-size-h3-card;
    text-transform: capitalize;
  }

  &.h3-product {
    font-size: $font-size-h3-single;
    line-height: $line-height-h3-single;

    @media (min-width: 768px) {
      font-size: $font-size-h3-single-md;
    }

    @media (min-width: 1024px) {
      font-size: $font-size-h3-single-lg;
    }
  }
}

h4 {
  font-family: $font-family-h4-footer;
  font-size: $font-size-h4-footer;
  font-weight: $font-weight-h4-footer;
  line-height: $line-height-h4-footer;
  color: $color-h4-footer;

  @media (min-width: 768px) {
    font-size: $font-size-h4-footer-md;
  }

  @media (min-width: 1400px) {
    font-size: $font-size-h4-footer-xl;
  }

  @media (min-width: 1600px) {
    font-size: $font-size-h4-footer-xxl;
  }
}

p {
  font-weight: $font-weight-p;

  &.p-banner {
    font-size: $font-size-p-banner;
    line-height: $line-height-p-banner;
    text-align: center;
  }

  &.p-card {
    font-size: $font-size-p-card;
    line-height: $line-height-p-card;
  }

  &.p-product {
    line-height: $line-height-p-product;

    @media (min-width: 768px) {
      font-size: $font-size-p-product-md;
    }

    @media (min-width: 1024px) {
      font-size: $font-size-p-product-lg;
    }

    @media (min-width: 1400px) {
      font-size: $font-size-p-product-xl;
    }
  }
}

/*
 * a
 */

//== Banner call to action ==
.banner {
  a {
    @include cta-button-typo($font-size-banner-cta, $font-weight-banner-cta, $color-banner-cta, $color-banner-cta-alt);
    
    @media (min-width: 1600px) {
      font-size: $font-size-banner-cta-xxl;
    }
  }
}
//== Footer links ==
.foo {
  a {
    font-size: $font-size-a-footer;
    line-height: $line-height-a-footer;
    color: $color-a-footer;
  
    &:hover {
      color: $color-a-alt;
    }

    @media (min-width: 768px) {
      font-size: $font-size-a-footer-md;
    }

    @media (min-width: 1600px) {
      font-size: $font-size-a-footer-xl;
    }
  }
  
  &:first-child {
    a {
      font-weight: $font-weight-a-footer;
    }
  }

  &:last-child {
    a {
      font-weight: $font-weight-a-last-footer;
    }
  }
}

span {
  &.load {
    font-size: $font-size-loading;
    color: $color-loading;
  }

  &.nb-step {
    font-size: $font-size-nb-step;
    font-weight: $font-weight-nb-step;
    color: $color-nb-step;
  }

  &.product-price {
    font-weight: 900;
  }
}

/*
 * i
 */

//== Icon ==
.card {
  i {
    font-size: $font-size-i-card;
  }
}
.header-site {
  i  {
    font-size: $font-size-i-header;
  }
}
.wrapper--single-page {
  .banner {
    i {
      font-size:  $font-size-i-banner-single;
    }
  }
}