h1 {
  &.h1-home {
    font-size: $font-size-h1-home;
    line-height: $line-height-h1-home;
    text-align: center;

    @media (min-width: 768px) {
      font-size: $font-size-h1-home-md;
    }

    @media (min-width: 1400px) {
      font-size: $font-size-h1-home-xl;
    }

    @media (min-width: 1600px) {
      font-size: $font-size-h1-home-xxl;
    }
  }
}

h2 {    
  &.h2-home {
    font-size: $font-size-h2-home;
    line-height: $line-height-h2-home;

    @media (min-width: 768px) {
      font-size: $font-size-h2-home-md;
    }

    @media (min-width: 1400px) {
      font-size: $font-size-h2-home-xl;
    }

    @media (min-width: 1600px) {
      font-size: $font-size-h2-home-xxl;
    }
  }
}

h3 {
  &.h3-step {
    font-weight: $font-weight-h3-step;
  }
  &.h3-card {
    font-size: $font-size-h3-card;
    text-transform: capitalize;
  }
}

h4 {
  font-family: $font-family-h4-footer;
  font-size: $font-size-h4-footer;
  font-weight: $font-weight-h4-footer;
  line-height: $line-height-h4-footer;
  color: $color-h4-footer;

  @media (min-width: 768px) {
    font-size: $font-size-h4-footer-md;
  }

  @media (min-width: 1400px) {
    font-size: $font-size-h4-footer-xl;
  }

  @media (min-width: 1600px) {
    font-size: $font-size-h4-footer-xxl;
  }
}

p {
  &.p-banner {
    font-size: $font-size-p-banner;
    line-height: $line-height-p-banner;
    text-align: center;
  }

  &.p-card {
    font-size: $font-size-p-card;
    line-height: $line-height-p-card;
  }
}

/*
 * a
 */

//== Banner call to action ==
.banner {
  a {
    @include cta-button-typo($font-size-banner-cta, $font-weight-banner-cta, $color-banner-cta, $color-banner-cta-alt);
    
    @media (min-width: 1600px) {
      font-size: $font-size-banner-cta-xxl;
    }
  }
}
//== Footer links ==
.foo {
  a {
    font-size: $font-size-a-footer;
    line-height: $line-height-a-footer;
    color: $color-a-footer;

    @media (min-width: 768px) {
      font-size: $font-size-a-footer-md;
    }

    @media (min-width: 1600px) {
      font-size: $font-size-a-footer-xl;
    }
  }
  
  &:first-child {
    a {
      font-weight: $font-weight-a-footer;
    }
  }

  &:last-child {
    a {
      font-weight: $font-weight-a-last-footer;
    }
  }
}

span {
  &.load {
    font-size: $font-size-loading;
    color: $color-loading;
  }

  &.nb-step {
    font-size: $font-size-nb-step;
    font-weight: $font-weight-nb-step;
    color: $color-nb-step;
  }
}
