/**
  * Loading spinner
  */
@keyframes rotate_1turn {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

@keyframes rotate_1turn_reverse {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(-1turn);
  }
}

@keyframes bg_visibility {
  100% {
    visibility: hidden; 
    opacity: 0;
  }
} /* End Loading spinner */

/**
  * Filled heart icon
  */
@mixin animated-heart($color:$color-card-i, $bg-color:$bg-color-card-i) {
  i {
    &.fa-heart {
      cursor: pointer;

      &.fa-regular {
        -webkit-text-stroke: 1px $white; /* Similar to .fa-light appareance */
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: $color;
      }

      &.fa-solid {
        position: absolute; /* Its parent element must have a relative position. */
        top: 0;
        left: 0;
        background: $bg-color;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;

        &:hover {
          animation: liked 300ms forwards;
        }        
      }
    }
  }
}

@keyframes liked {
  0% {
    opacity: .5;
    transform: scaleX(.15);
  }
  25% {
    transform: scaleX(.25);
  }
  25%,100% {
    opacity: 1;
  }
  50% {
    transform: scaleX(.5);
  }
  75% {
    transform: scaleX(.75);
  }
  100% {
    transform: scaleX(1);
  }
} /* End Filled heart icon */

/**
  * Check mark
  */
@mixin one_by_one($anim-duration, $nb-elt) {
  $anim-delay: layering($anim-duration, $nb-elt);
  
  @for $i from 1 through $nb-elt {
    &:nth-child(#{$i}) {
      animation-delay: $anim-delay * $i;
    }
  }
}

@mixin opacity($from, $to) {
  @keyframes visibility{
    0% {
      transform: translateY(8px);
      opacity: $from;
    }
    100% {
      transform: translateY(-5px);
      opacity: $to;
    }
  }
} /* End Check mark */