// Box shadow
//
@mixin box_shadow($color:$black, $amount:85%, $size: 0 5px 12px) {
  box-shadow: lighten($black, $amount) $size;
}

// Main call to action
//
@mixin cta_button_base($size, $bg-color) {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: $size;
  @include box_shadow($amount:65%);
  background: $bg-color;

  &:hover {
    box-shadow: rgba($black,.5) 0 7px 12px;
    background: $bg-color-banner-cta-alt;
  }
}

@mixin cta_button_padding($vertical-padding, $horizontal-padding) {
  padding: $vertical-padding $horizontal-padding;
}

@mixin cta_button_typo($size, $font-weight, $color, $color-alt) {
  font-size: $size;
  font-weight: $font-weight;
  color: $color;
  cursor: pointer;
} // End Main call to action

// Flexbox base
//
@mixin flexbox($direction, $justify, $align, $wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

// Max width
//
@mixin max_width($width, $max-width) {
  width: $width;
  max-width: $max-width;
  margin: 0 auto 
}

// Color property with its value matched to the background color value
//
// @see matching_color() function
//
@mixin color_matched_to_bg_color($color: matching_color($tertiary-color)) {
  color: $color;
}