@mixin box-shadow($color:$black, $amount:85%, $size: 0 5px 12px) {
  box-shadow: lighten($black, $amount) $size;
}

@mixin cta-button($vertical-padding, $horizontal-padding, $size, $bg-color) {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: $vertical-padding $horizontal-padding;
  border-radius: $size;
  @include box-shadow($amount:65%);
  background: $bg-color;

  &:hover {            
    box-shadow: rgba($black,.5) 0 7px 12px;
  }
}

@mixin cta-button-typo($size, $font-weight, $color, $color-alt) {
  font-size: $size;
  font-weight: $font-weight;
  color: $color;
  cursor: pointer;

  &:hover {
    transform: scale(1.03);
    color: $color-alt;
  }
}

@mixin flexbox($direction, $justify, $align, $wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin max-width($width, $max-width) {
  width: $width;
  max-width: $max-width;
  margin: 0 auto 
}

@mixin animated-heart($color:$color-card-i, $bg-color:$bg-color-card-i) {
  i {
    &.fa-heart {
      position: relative;
      background: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: $color;
      font-weight: unset;
      cursor: pointer;

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        content: "\f004";
        font-weight: 900;
        background: $bg-color;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: scaleX(0);
      }

      &:hover,
      &:active {
        &::after {
          animation: liked 500ms forwards;
        }
      }
    }
  }
}

@keyframes liked {
  0% {
    transform: scaleX(.05);
  }
  25% {
    transform: scaleX(.25);
  }
  50% {
    transform: scaleX(.5);
  }
  75% {
    transform: scaleX(.75);
  }
  100% {
    transform: scaleX(1);
  }
}

@mixin text_overflow($value: ellipsis($max-width)) {
  max-width: 230px;
  text-overflow: $value;
  overflow: hidden;
  white-space: nowrap;
}