// --------------------------------------------------
// SETTING FOR GLOBAL STYLE
// --------------------------------------------------

/**
  * Breakpoints
  * 
  */
$breakpoint-320:                       '320px';
$breakpoint-375:                       '375px';
$breakpoint-411:                       '411px';
$breakpoint-md:                        '768px';
$breakpoint-lg:                        '992px'; 
$breakpoint-xl:                       '1400px';
$breakpoint-xxl:                      '1600px';

/**
  * Colors
  * 
  */
$primary-color:                        #9356DC;
$secondary-color:                      #FF79DA;
$tertiary-color:                       #99E2D0;

$black:                                #000;
$black-light:                           lighten($black, 30%); // #4D4D4D
$grey:                                  lighten($black, 88%); // #E0E0E0
$grey-light:                            lighten($black, 95%); // #F2F2F2
$grey-ultra-light:                      lighten($black, 97%); // #F7F7F7
$primary-color-light:                   lighten($primary-color, 5%); // #A16BE0
$secondary-color-light:                 lighten($secondary-color, 4%); // #FF8DE0
$main-linear-gradient:                  linear-gradient($secondary-color, $primary-color);
$main-linear-gradient-reverse:          linear-gradient($primary-color, $secondary-color);
$main-linear-gradient-light:            linear-gradient($secondary-color-light, $primary-color-light);
$secondary-color-light:                 lighten($secondary-color, 80%);
$transparent:                           transparent;
$white:                                #FFF;

/**
  * Typography
  * 
  */
$font-family-txt:                       'Roboto', sans-serif;

$font-size-init:                        16px;
$font-size-normal:                      1em;

$line-height-normal:                    1;

/**
  * .body
  * 
  */
$font-size-body:                        $font-size-init;
$font-style-body:                       normal;
$font-weight-body:                      300;
$line-height-body:                      19px;
$color-body:                            $black-light;
$bg-color-body:                         $white;

/**
  * Other bases
  * 
  */

//== Levels of section headings ==
$color-h1-h2-h3:                        $black;

//== h1 ==
$font-size-h1-page:                     $font-size-normal * 1.25;
$font-size-h1-page-375:                 $font-size-normal * 1.45;
$font-size-h1-page-411:                 $font-size-normal * 1.75;
$font-size-h1-page-md:                  $font-size-normal * 1.65;
$font-size-h1-page-xl:                  $font-size-normal * 1.85;
$font-size-h1-page-xxl:                 $font-size-normal * 2.05;

$line-height-h1-page:                   $line-height-normal * 1.2;

$font-weight-h1-page:                   500;

$font-size-h1-single:                   $font-size-normal * 1.25;
$font-size-h1-single-320:               $font-size-normal * 1.5;
$font-size-h1-single-375:               $font-size-normal * 1.55;
$font-size-h1-single-411:               $font-size-normal * 1.65;
$font-size-h1-single-md:                $font-size-normal * 1.7;
$font-size-h1-single-xl:                $font-size-normal * 1.8;

$font-family-h1-single:                 'Shrikhand', cursive;

$font-weight-h1-single:                 500;

//== h2 ==
$font-size-h2-home:                     $font-size-normal * 1.25;
$font-size-h2-home-375:                 $font-size-normal * 1.45;
$font-size-h2-home-411:                 $font-size-normal * 1.75;
$font-size-h2-home-md:                  $font-size-normal * 1.65;
$font-size-h2-home-xl:                  $font-size-normal * 1.75;
$font-size-h2-home-xxl:                 $font-size-normal * 1.875;

$line-height-h2-home:                   $line-height-normal * 1.2;

$font-size-h2-single:                   $font-size-normal * 1.125;
$font-size-h2-single-md:                $font-size-normal * 1.15;
$font-size-h2-single-xl:                $font-size-normal * 1.25;
$font-size-h2-single-xxl:               $font-size-normal * 1.35;

$line-height-h2-single:                 $line-height-normal * 1.75;

$font-weight-h2-single:                 400;

$txt-transform-h2-single:               uppercase;

$color-h2-single:                       $black-light;

//== h3 ==
$font-size-h3-single:                   $font-size-normal * 1.22;
$font-size-h3-single-md:                $font-size-normal * 1.15;
$font-size-h3-single-lg:                $font-size-normal * 1.2;
$font-size-h3-single-xl:                $font-size-normal * 1.25;// Not used

$line-height-h3-single:                 $line-height-normal * 1.75;

//== p ==
$font-size-p-banner:                    $font-size-normal;
$font-size-p-banner-375:                $font-size-normal * 1.1;
$font-size-p-banner-411:                $font-size-normal * 1.2;

$line-height-p-banner:                  $line-height-normal * 1.15;

$font-weight-p:                         400;


//== a ==
$color-a:                               currentColor;
$color-a-alt:                           $secondary-color;

// --------------------------------------------------
// COMPONENTS
// --------------------------------------------------

/**
  * Loading spinner
  * 
  */
$font-size-loading:                     $font-size-normal * .875;

$loading-border-top-color:              $secondary-color;
$loading-border-left-color:             $tertiary-color;
$loading-border-right-color:            $transparent;
$loading-border-bottom-color:           $primary-color;

$color-loading:                         $white;

$bg-color-loading:                      rgb($black, 92.5%);

/**
  * Search form
  * 
  */
$font-family-input:                     $font-family-txt;

$font-size-search-form-i:               $font-size-normal * 1.2;
$font-size-search-form-input:           $font-size-normal * 1.1;

$font-weight-input-value:               500;

$bg-color-input:                        $transparent;

/**
  * Call to action button
  * 
  */
$font-size-banner-cta:                  $font-size-normal * .875;
$font-size-banner-cta-375:              $font-size-normal;
$font-size-banner-cta-411:              $font-size-normal * 1.1;
$font-size-banner-cta-xxl:              $font-size-normal * 1.25;

$font-weight-banner-cta:                500;

$color-banner-cta:                      $white;
$color-banner-cta-alt:                  $white;

$bg-color-banner-cta:                   $main-linear-gradient;
$bg-color-banner-cta-alt:               $main-linear-gradient-light;

/**
  * Step how it works
  * 
  */
$font-size-h3-home:                     $font-size-normal * .875;
$font-size-h3-home-320:                 $font-size-normal * .95;
$font-size-h3-home-375:                 $font-size-normal;
$font-size-h3-home-411:                 $font-size-normal * 1.1;

$line-height-h3-home:                   $line-height-normal * 1.2;

$font-weight-h3-home:                   500;

$font-size-nb-step:                     $font-size-normal * .75;
$font-size-nb-step-411:                 $font-size-normal * .875;
$font-weight-nb-step:                   700;
$color-nb-step:                         $white;
$bg-color-nb-step:                      $primary-color;

$font-size-i-step:                      $font-size-normal * 1.1;
$font-size-i-step-411:                  $font-size-normal * 1.4;
$color-i-step-alt:                      $primary-color;

$bg-color-step:                         $grey-ultra-light;
$bg-color-step-alt:                     $grey-light;

/**
  * Card
  * 
  */
$font-size-h3-card:                     $font-size-normal * 1.2;
$font-size-p-card:                      $font-size-normal * 1.1;
$font-size-i-card:                      $font-size-normal * 1.5;
$font-size-flag-card:                   $font-size-normal * .875;
$font-size-flag-card-411:               $font-size-normal * .975;

$line-height-p-card:                    $line-height-normal * 1.15;

$font-weight-flag:                      500;

$color-card-a-alt:                      $black;
$color-card-i:                          $black-light;

$bg-color-card-details:                 $white;
$bg-color-card-i:                       $main-linear-gradient-reverse;
$bg-color-card-flag:                    $tertiary-color;
$bg-color-cards:                        $grey-ultra-light;

/**
  * Product
  * 
  */
$font-size-product-detail:              $font-size-normal * .975;
$font-size-product-detail-lg:           $font-size-normal * 1.05;
$font-size-product-detail-xl:           $font-size-normal * 1.1;
$font-size-i-product:                   $font-size-normal * .975;

$line-height-product-detail:            $line-height-normal * 1.15;

$font-weight-product-detail:            400;
$font-weight-product-price:             900;

$max-width-product-detail:              255px;

$bg-color-product-icon:                 $white;
$bg-color-product:                      $white;
$bg-color-product-right:                $tertiary-color;

$anim-duration-product:                 1000ms;

// --------------------------------------------------
// LAYOUT
// --------------------------------------------------
/**
  * Header
  * 
  */
$font-size-i-header:                    $font-size-normal * 1.55;
$background-color-header:               $white;

/**
  * Banner section
  * 
  */
$font-size-i-banner-single:             $font-size-normal * 1.35;
$font-size-i-banner-single-320:         $font-size-normal * 1.45;
$font-size-i-banner-single-375:         $font-size-normal * 1.55;
$font-size-i-banner-single-411:         $font-size-normal * 1.75;

$bg-color-first-child:                  $grey;
$bg-color-last-child:                   $grey-ultra-light;
$bg-color-banner-single-page:           $black-light;

/**
  * Products section
  * 
  */
$bg-color-products:                     $white;
$bg-color-products-first-div:           $grey-ultra-light;

/**
* Footer
* 
*/
$font-family-h4-footer:                 'Shrikhand', cursive;

$font-size-h4-footer:                   $font-size-normal * 1.25;
$font-size-h4-footer-md:                $font-size-normal * 1.15;
$font-size-h4-footer-xl:                $font-size-normal * 1.25;
$font-size-h4-footer-xxl:               $font-size-normal * 1.35;

$font-size-a-footer:                    $font-size-normal * 1.1;
$font-size-a-footer-md:                 $font-size-normal;
$font-size-a-footer-xl:                 $font-size-normal * 1.05;

$font-size-i-footer:                    $font-size-normal * .8;

$font-weight-h4-footer:                 500;
$font-weight-a-footer:                  500;
$font-weight-a-last-footer:             400;

$line-height-h4-footer:                 $line-height-normal * 1.15;
$line-height-a-footer:                  $line-height-normal * 1.55;

$color-h4-footer:                       $white;
$color-a-footer:                        $grey-ultra-light;

$bg-color-footer:                       $black-light;


