// --------------------------------------------------
// SETTING FOR GLOBAL STYLE
// --------------------------------------------------

/**
  * Colors
  * 
  */
  $primary-color:                       #9356DC;
  $secondary-color:                     #FF79DA;
  $tertiary-color:                      #99E2D0;

  $black:                               #000;
  $black-light:                           lighten($black, 30%); // #4D4D4D
  $current-color:                         currentColor;
  $grey:                                  lighten($black, 88%); // #F2F2F2
  $grey-light:                            lighten($black, 97%); // #F7F7F7
  $transparent:                           transparent;
  $white:                               #FFF;

/**
  * Typography
  * 
  */
  $font-family-txt:                      'Roboto', sans-serif;

  $font-size-init:                       16px;
  $font-size-normal:                     1em;

  $line-height-normal:                   1;

  $inherit:                              'inherit';

/**
  * .body
  * 
  */
$font-size-body:                        $font-size-init;
$font-style-body:                       normal;
$font-weight-body:                      300;
$line-height-body:                      19px;
$color-body:                            $black;
$bg-color-body:                         $white;

/**
  * Other bases
  * 
  */
//== h1 ==
$font-size-h1-home:                     $font-size-normal * 1.75;
$font-size-h1-home-md:                  $font-size-normal * 1.65;
$font-size-h1-home-xl:                  $font-size-normal * 1.85;
$font-size-h1-home-xxl:                  $font-size-normal * 2.05;
$line-height-h1-home:                   $line-height-normal * 1.2;

//== h2 ==
$font-size-h2-home:                     $font-size-normal * 1.75;
$font-size-h2-home-md:                  $font-size-normal * 1.65;
$font-size-h2-home-xl:                  $font-size-normal * 1.75;
$font-size-h2-home-xxl:                  $font-size-normal * 1.875;
$line-height-h2-home:                   $line-height-normal * 1.2;

//== p ==
$font-size-p-banner:                    $font-size-normal * 1.2;
$line-height-p-banner:                  $line-height-normal * 1.15;

//== a ==
$color-a:                               $current-color;
$color-a-alt:                           $primary-color;

// --------------------------------------------------
// COMPONENTS
// --------------------------------------------------

/**
  * Loading spinner
  * 
  */
$font-size-loading:                     $font-size-normal * .875;
$color-loading:                         $white;
$loading-border-top-color:              $secondary-color;
$loading-border-left-color:             $tertiary-color;
$loading-border-right-color:            $primary-color;
$loading-border-bottom-color:           $primary-color;
$bg-color-loading:                      $black;

/**
  * Search form
  * 
  */
$font-family-input:                     $font-family-txt;
$font-size-search-form-i:               $font-size-normal * 1.2;
$font-size-search-form-input:           $font-size-normal * 1.1;
$font-weight-input-value:               500;
$color-input-value:                     $black-light;
$color-search-form-i:                   $black-light;
$bg-color-input:                        $transparent;

/**
  * Call to action button
  * 
  */
$font-size-banner-cta:                    $font-size-normal * 1.1;
$font-size-banner-cta-xxl:                $font-size-normal * 1.25;
$font-weight-banner-cta:                  500;
$color-banner-cta:                        $white;
$color-banner-cta-alt:                    $white;
$bg-color-banner-cta:                     linear-gradient($secondary-color,$primary-color);

/**
  * Step how it works
  * 
  */
$font-size-nb-step:                        $font-size-normal * .875;
$font-weight-nb-step:                      700;
$color-nb-step:                            $white;
$bg-color-nb-step:                         $primary-color;

$font-size-a-step:                         $font-size-normal * 1.1;
$font-weight-a-step:                       500;

$font-size-i-step:                         $font-size-normal * 1.4;
$color-i-step:                             $primary-color;

$bg-color-step:                            $grey-light;

// --------------------------------------------------
// LAYOUT
// --------------------------------------------------

/**
  * Banner
  * 
  */
$bg-color-first-child:                  $grey;
$bg-color-last-child:                   $grey-light;

/**
  * Cards
  * 
  */
  $font-size-h3-card:                   $font-size-normal * 1.2;
  $font-size-p-card:                    $font-size-normal * 1.1;
  $line-height-p-card:                  $line-height-normal * 1.15;

  $bg-color-cards:                      $grey-light;
  $bg-color-card-details:               $white;

  $color-card-a-alt:                    $black;
  $color-card-i:                        $secondary-color;

/**
* Footer
* 
*/
$font-family-h4-footer:               'Shrikhand', cursive;
$font-size-h4-footer:                 $font-size-normal * 1.25;
$font-weight-h4-footer:               500;
$line-height-h4-footer:               $line-height-normal * 1.15;

$color-h4-footer:                     $white;
$color-a-footer:                      $grey-light;
$bg-color-footer:                     $black-light;


