// --------------------------------------------------
// SETTING FOR GLOBAL STYLE
// --------------------------------------------------

/**
  * Colors
  * 
  */
  $primary-color:                       #9356DC;
  $secondary-color:                     #FF79DA;
  $tertiary-color:                      #99E2D0;

  $black:                               #000;
  $black-light:                           lighten($black, 30%); // #4D4D4D
  $current-color:                         currentColor;
  $grey:                                  lighten($black, 88%); // #F2F2F2
  $grey-light:                            lighten($black, 97%); // #F7F7F7
  $main-linear-gradient:                  linear-gradient($secondary-color,$primary-color);
  $main-linear-gradient-right:            linear-gradient(to right,$secondary-color 10%,$primary-color 90%);
  $transparent:                           transparent;
  $white:                               #FFF;

/**
  * Typography
  * 
  */
  $font-family-txt:                      'Roboto', sans-serif;

  $font-size-init:                       16px;
  $font-size-normal:                     1em;

  $line-height-normal:                   1;

/**
  * .body
  * 
  */
$font-size-body:                        $font-size-init;
$font-style-body:                       normal;
$font-weight-body:                      300;
$line-height-body:                      19px;
$color-body:                            $black-light;
$bg-color-body:                         $white;

/**
  * Other bases
  * 
  */

//== Levels of section headings ==
$color-h1-h2-h3:                        $black;

//== h1 ==
$font-size-h1-page:                     $font-size-normal * 1.75;
$font-size-h1-page-md:                  $font-size-normal * 1.65;
$font-size-h1-page-xl:                  $font-size-normal * 1.85;
$font-size-h1-page-xxl:                 $font-size-normal * 2.05;
$line-height-h1-page:                   $line-height-normal * 1.2;
$font-weight-h1-page:                   500;

$font-size-h1-single:                   $font-size-normal * 1.98;
$font-size-h1-single-md:                $font-size-normal * 1.7;
$font-size-h1-single-xl:                $font-size-normal * 2;
$font-size-h1-single-xxl:               $font-size-normal * 2.2;

$font-family-h1-single:                 'Shrikhand', cursive;
$font-weight-h1-single:                 500;

//== h2 ==
$font-size-h2-home:                     $font-size-normal * 1.75;
$font-size-h2-home-md:                  $font-size-normal * 1.65;
$font-size-h2-home-xl:                  $font-size-normal * 1.75;
$font-size-h2-home-xxl:                 $font-size-normal * 1.875;
$line-height-h2-home:                   $line-height-normal * 1.2;

$font-size-h2-single:                   $font-size-normal * 1.125;
$font-size-h2-single-md:                $font-size-normal * 1.15;
$font-size-h2-single-xl:                $font-size-normal * 1.25;
$font-size-h2-single-xxl:               $font-size-normal * 1.35;
$line-height-h2-single:                 $line-height-normal * 1.75;
$font-weight-h2-single:                 400;
$txt-transform-h2-single:               uppercase;
$color-h2-single:                       $black-light;

//== h3 ==
$font-size-h3-single:                   $font-size-normal * 1.22;
$font-size-h3-single-md:                $font-size-normal * .975;
$font-size-h3-single-lg:                $font-size-normal;
$font-size-h3-single-xl:                $font-size-normal * 1.25;
$line-height-h3-single:                 $line-height-normal * 1.15;

//== p ==
$font-size-p-banner:                    $font-size-normal * 1.2;
$line-height-p-banner:                  $line-height-normal * 1.15;
$font-size-p-product-md:                $font-size-normal * .975;
$font-size-p-product-lg:                $font-size-normal * 1.05;
$font-size-p-product-xl:                $font-size-normal * 1.1;
$line-height-p-product:                 $line-height-normal * 1.15;
$font-weight-p:                         400;


//== a ==
$color-a:                               $current-color;
$color-a-alt:                           $secondary-color;

// --------------------------------------------------
// COMPONENTS
// --------------------------------------------------

/**
  * Loading spinner
  * 
  */
$font-size-loading:                     $font-size-normal * .875;
$color-loading:                         $white;
$loading-border-top-color:              $secondary-color;
$loading-border-left-color:             $tertiary-color;
$loading-border-right-color:            $primary-color;
$loading-border-bottom-color:           $primary-color;
$bg-color-loading:                      $black;

/**
  * Search form
  * 
  */
$font-family-input:                     $font-family-txt;
$font-size-search-form-i:               $font-size-normal * 1.2;
$font-size-search-form-input:           $font-size-normal * 1.1;
$font-weight-input-value:               500;
$color-input-value:                     $black-light;
$color-search-form-i:                   $black-light;
$bg-color-input:                        $transparent;

/**
  * Call to action button
  * 
  */
$font-size-banner-cta:                    $font-size-normal * 1.1;
$font-size-banner-cta-xxl:                $font-size-normal * 1.25;
$font-weight-banner-cta:                  500;
$color-banner-cta:                        $white;
$color-banner-cta-alt:                    $white;
$bg-color-banner-cta:                     $main-linear-gradient;

/**
  * Step how it works
  * 
  */
$font-size-nb-step:                        $font-size-normal * .875;
$font-weight-nb-step:                      700;
$color-nb-step:                            $white;
$bg-color-nb-step:                         $primary-color;

$font-weight-h3-step:                      500;

$font-size-i-step:                         $font-size-normal * 1.4;
$color-i-step:                             $primary-color;

$bg-color-step:                            $grey-light;

/**
  * Card
  * 
  */
  $font-size-h3-card:                   $font-size-normal * 1.2;
  $font-size-p-card:                    $font-size-normal * 1.1;
  $font-size-i-card:                    $font-size-normal * 1.5;

  $line-height-p-card:                  $line-height-normal * 1.15;

  $color-card-a-alt:                    $black;
  $color-card-i:                        $black-light;

  $bg-color-card-details:               $white;
  $bg-color-card-i:                     $main-linear-gradient;
  $bg-color-cards:                      $grey-light;
  
/**
  * Icon banner from single page
  * 
  */

  $font-size-i-card-single-page:        $font-size-normal * 1.5;

/**
  * Product checkbox
  * 
  */
  $bg-color-product-checkbox:           $white;

// --------------------------------------------------
// LAYOUT
// --------------------------------------------------
/**
  * Header
  * 
  */
$font-size-i-header:                    $font-size-normal * 1.55;

/**
  * Banner
  * 
  */
$bg-color-first-child:                  $grey;
$bg-color-last-child:                   $grey-light;
$bg-color-banner-single-page:           $black-light;

/**
  * Menu maker section
  * 
  */
  $bg-color-menu-maker:                 $white;
  $bg-color-menu-maker-first-div:       $grey-light;

/**
* Footer
* 
*/
$font-family-h4-footer:               'Shrikhand', cursive;
$font-size-h4-footer:                 $font-size-normal * 1.25;
$font-size-h4-footer-md:              $font-size-normal * 1.15;
$font-size-h4-footer-xl:              $font-size-normal * 1.25;
$font-size-h4-footer-xxl:             $font-size-normal * 1.35;
$font-size-a-footer:                  $font-size-normal * 1.1;
$font-size-a-footer-md:               $font-size-normal;
$font-size-a-footer-xl:               $font-size-normal * 1.05;
$font-size-i-footer:                  $font-size-normal * .8;
$font-weight-h4-footer:               500;
$line-height-h4-footer:               $line-height-normal * 1.15;
$font-weight-a-footer:                500;
$font-weight-a-last-footer:           400;
$line-height-a-footer:                $line-height-normal * 1.55;

$color-h4-footer:                     $white;
$color-a-footer:                      $grey-light;
$bg-color-footer:                     $black-light;


